{% extends 'wms/base.html' %}
{% load static i18n %}

{% block css %}
<script type="text/javascript" src="{% static 'echarts/js/echarts-en.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'wms/css/dashboard.css' %}">
{% endblock %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block body %}
<section class="content-header p-2">
    <div class="d-sm-flex justify-content-center">
        <p class="font-weight-bold my-0">{% trans 'Dashboard' %}</p>
    </div>
</section>

<section class="content">
    <div class="row justify-content-center">
        <!-- In-stock Bag Card -->
        <div class="col-xl-3 col-md-6 col-sm-12 mb-2">
            <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                {% trans 'In-stock Status' %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ in_stock_status }} {% trans 'Bags' %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-cubes fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- In-stock Percentage Card -->
        <div class="col-xl-3 col-md-6 col-sm-12 mb-2">
            <div class="card border-left-warning shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                {% trans 'In-stock Percentage' %}</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ in_stock_pct }}</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-warning" role="progressbar"
                                            style="width: {{ in_stock_pct }}" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-layer-group fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- AGV Status Card -->
        <div class="col-xl-3 col-md-6 col-sm-12 mb-2">
            <div class="card border-left-success shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                {% trans 'AGV Status' %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{% trans 'Running' %}
                                {{ agv_run }}/{{ agv_total }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-android fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center">
        <!-- Stock Overview Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans 'Stock Overview' %}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- Graph -->
                    <div id="stockOverview" style="width: 100%; min-height: 480px"></div>
                    <!-- Option radio button -->
                    <div class="text-center">
                        {% for plant in overview_plant_list %}
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="overview_plant_id"
                                    value="{{ plant.1 }}" {% if forloop.first %}checked{% endif %}>{{ plant.1 }}
                            </label>
                        </div>
                        {% endfor %}
                        <br>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="overview_value_type" value="0"
                                    checked>{% trans 'Bags' %}
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="overview_value_type"
                                    value="1">{% trans '% Total' %}
                            </label>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Chart -->

        <!-- Stock Usage Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans 'Stock Usage' %}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- Graph -->
                    <div id="stockUsage" style="width: 100%; min-height: 480px;"></div>
                    <div class="text-center">
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Chart -->
    </div>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var overview_plant_list = {{ overview_plant_list| safe }}

    var overviewChart = echarts.init(document.getElementById('stockOverview'))
    var api_overviewgraph = '{% url 'wms:overviewgraph-list' %}'
    var lebel_legendList = ['{% trans 'Inventory' %}', '{% trans 'Buffer' %}', '{% trans 'Misplace' %}', '{% trans 'Available Storage' %}']

    var usageChart = echarts.init(document.getElementById('stockUsage'))
    var api_usagegraph = '{% url 'wms:usagegraph-list' %}'

    var label_saveAsImage = '{% trans 'Save As Image' %}'
</script>
<script type="text/javascript" src="{% static 'wms/js/dashboard.js' %}"></script>
{% endblock %}