{% extends 'wms/base.html' %}
{% load static i18n widget_tweaks %}

{% block css %}
<script type="text/javascript" src="{% static 'echarts/js/echarts-en.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/css/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wms/css/historygraph.css' %}">
{% endblock %}

{% block title %}{% trans 'Inventory Graph' %}{% endblock %}

{% block body %}
<section class="content-header p-2">
    <div class="d-sm-flex justify-content-center">
        <p class="font-weight-bold my-0">{% trans 'Inventory Graph' %}</p>
    </div>
</section>

<section class="content">
    <div class="row justify-content-center">
        <form method="get" class="form-inline m-0" action="{{ request.path }}">
            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
            {% for field in form.visible_fields %}
                <label class="text-secondary mx-1" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {% render_field field class="form-control mb-2 mr-sm-2" %}
            {% endfor %}
            <button class="btn btn-secondary mb-2" type="submit">{% trans 'Submit' %}</button>
        </form>
    </div>

    <div class="row justify-content-center">
        <!-- History Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Body -->
                <div class="card-body">
                    <!-- Graph -->
                    <div id="history" style="width: 100%; min-height: 600px;"></div>
                </div>
            </div>
        </div>
        <!-- /.Chart -->

    </div>
</section>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
    var str_submit = "{% trans 'Submit' %}"
    var str_cancel = "{% trans 'Close' %}"
    var str_custom_range = "{% trans 'Custom Range' %}"
    var custom_range = {
        '{% trans 'Today' %}': [moment().subtract(1, 'days'), moment()],
        '{% trans 'Yesterday' %}': [moment().subtract(2, 'days'), moment().subtract(1, 'days')],
        '{% trans 'Last 7 Days' %}': [moment().subtract(7, 'days'), moment()],
        '{% trans 'Last 30 Days' %}': [moment().subtract(30, 'days'), moment()],
        '{% trans 'This Month' %}': [moment().startOf('month'), moment().endOf('month')],
        '{% trans 'Last Month' %}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    }
    var historyChart = echarts.init(document.getElementById('history'))
    var api_historygraph = '{% url 'wms:historygraph-list' %}'
    var label_saveAsImage = '{% trans 'Save As Image' %}'
    var label_toolboxName = '{{ view.kwargs.pk|upper }} {% trans 'Inventory Graph' %}'
</script>

<script type="text/javascript" src="{% static 'daterangepicker/js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wms/js/historygraph.js' %}"></script>

{% endblock %}