{% extends 'wms/base.html' %}
{% load static i18n custom_tags %}

{% block css %}
<link href="{% static 'wms/css/layout.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{% trans 'Layout Debug' %}{% endblock %}

{% block body %}
<section class="content-header p-2">
    <div class="d-sm-flex justify-content-center">
        <p class="font-weight-bold my-0">{% trans 'Warehouse Layout Debug' %}</p>
    </div>
</section>

<section class="content">
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="layout" id="layout-table">
                    <thead>
                        <tr>
                            <th class="headerFooter font-weight-bold"></th>
                            {% for header in header_1 %}
                            <th class="headerFooter font-weight-bold" colspan="4">{{ header }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th class="headerFooter font-weight-normal"></th>
                            {% for header, header_col in zip_header_2 %}
                            <th class="headerFooter font-weight-normal">{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in zip_row %}
                        <tr>
                            <td class="headerFooter font-weight-normal">{{ index }}</td>
                            {% for col in layout_col reversed %}
                                {% if layout|k:col|k:row|k:'storage_for' %}
                                    {% if layout|k:col|k:row|k:'is_inventory' %}
                                    <td bgcolor="{{ layout|k:col|k:row|k:'bg_color' }}"
                                        class="js-col-update-button storage"
                                        data-html="true"
                                        data-toggle="tooltip"
                                        data-url="{% url 'wms:col_update' layout|k:col|k:row|k:'column_id' %}"
                                        title="<div align='center'>
                                            {{ layout|k:col|k:row|k:'storage_id' }}<br>
                                            {{ layout|k:col|k:row|k:'storage_for' }}<br>
                                            </div>">
                                    </td>
                                    {% else %}
                                    <td bgcolor="white"
                                        class="js-col-update-button storage"
                                        data-html="true"
                                        data-toggle="tooltip"
                                        data-url="{% url 'wms:col_update' layout|k:col|k:row|k:'column_id' %}"
                                        title="<div align='center'>
                                            {{ layout|k:col|k:row|k:'storage_id' }}<br>
                                            {{ layout|k:col|k:row|k:'storage_for' }}<br>
                                            </div>">
                                    </td>
                                    {% endif %}
                                {% else %}
                                    {% if col == 46 and row >= 5 and row <= 7 or col == 39 and row >= 5 and row <= 7 %}
                                        {% if col == 46 and row == 5 %}
                                        <td class="storage robot" rowspan="2">Ro bot #1</td>
                                        {% elif col == 39 and row == 5 %}
                                        <td class="storage robot" rowspan="2">Ro bot #2</td>
                                        {% endif %}
                                    {% else %}
                                    <td class="storage noBorder {% if row == 9 %}runway{% endif %}"></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <td class="headerFooter font-weight-normal">{% if row >= 10 %}{{ index }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="headerFooter font-weight-normal"></td>
                            {% for footer, footer_col in zip_footer_2 %}
                            <td class="headerFooter font-weight-normal">{{ footer }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="headerFooter font-weight-bold"></td>
                            {% for footer in footer_1 %}
                            <td class="headerFooter font-weight-bold" colspan="4">{{ footer }}</td>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
                <br>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-id" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}

<script type="text/javascript" src="{% static 'wms/js/layout_debug.js' %}"></script>

{% endblock %}
