{% extends 'wms/base.html' %}
{% load static i18n custom_tags humanize %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker/css/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wms/css/layout.css' %}">
{% endblock %}

{% block title %}{% trans 'Inventory Period' %}{% endblock %}

{% block body %}
<section class="content-header p-2">
    <div class="d-sm-flex justify-content-center">
        <p class="font-weight-bold my-0">{% trans 'Inventory Period' %}</p>
    </div>
</section>

<section class="content">
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="layout" id="layout-table">
                    <thead>
                        <tr>
                            <th class="headerFooter font-weight-bold"></th>
                            {% for header in header_1 %}
                            <th class="headerFooter font-weight-bold" colspan="4">{{ header }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th class="headerFooter font-weight-normal"></th>
                            {% for header, header_col in zip_header_2 %}
                                {% if header_col %}
                                <th class="headerFooter font-weight-normal js-invcol-update-button" data-url="{% url 'wms:invcol_update' header_col %}">{{ header }}</th>
                                {% else %}
                                <th class="headerFooter font-weight-normal">{{ header }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in zip_row %}
                        <tr>
                            <td class="headerFooter font-weight-normal">{{ index }}</td>
                            {% for col in layout_col reversed %}
                                {% if layout|k:col|k:row|k:'storage_for' %}
                                    {% if layout|k:col|k:row|k:'have_inventory' %}
                                    <td class="js-inv-update-button storage"
                                        data-url="{% url 'wms:inv_update' layout|k:col|k:row|k:'storage_id' %}"
                                        bgcolor="{{ layout|k:col|k:row|k:'bg_color' }}"
                                        data-toggle="tooltip"
                                        data-html="true"
                                        title="<div align='center'>
                                            {{ layout|k:col|k:row|k:'storage_id' }}<br>
                                            {{ layout|k:col|k:row|k:'inv_product' }}<br>
                                            </div>
                                            <br>
                                            <div align='left'>
                                            {% trans 'Quantity' %} : {{ layout|k:col|k:row|k:'inv_qty' }}<br>
                                            {% if layout|k:col|k:row|k:'lot_name' %}{% trans 'Lot Name' %}: {{ layout|k:col|k:row|k:'lot_name' }}<br>{% endif %}
                                            {% trans 'Created' %}: {{ layout|k:col|k:row|k:'created_on'|date:'d/m/y H:i' }}<br>
                                            {% trans 'Updated' %}: {{ layout|k:col|k:row|k:'updated_on'|date:'d/m/y H:i' }}<br>
                                            {% trans 'Age' %}: {{ layout|k:col|k:row|k:'created_on'|naturaltime }}<br>
                                            </div>">
                                        <font color="{{ layout|k:col|k:row|k:'font_color' }}">{{ layout|k:col|k:row|k:'age' }}</font>
                                    </td>
                                    {% else %}
                                    <td class="js-inv-create-button storage"
                                        data-url="{% url 'wms:inv_create' layout|k:col|k:row|k:'storage_id' %}"
                                        bgcolor="{% if layout|k:col|k:row|k:'is_inventory' %}#EEE{% else %}white{% endif %}"
                                        data-toggle="tooltip"
                                        data-html="true"
                                        title="<div align='center'>
                                            {{ layout|k:col|k:row|k:'storage_id' }}<br>
                                            {{ layout|k:col|k:row|k:'storage_for' }}<br>
                                            </div>">
                                    </td>
                                    {% endif %}
                                {% else %}
                                    {% if col == 46 and row >= 5 and row <= 7 or col == 39 and row >= 5 and row <= 7 %}
                                        {% if col == 46 and row == 5 %}
                                        <td rowspan="2" class="storage robot">Ro bot #1</td>
                                        {% elif col == 39 and row == 5 %}
                                        <td rowspan="2" class="storage robot">Ro bot #2</td>
                                        {% endif %}
                                    {% else %}
                                    <td class="storage noBorder {% if row == 9 %}runway{% endif %}"></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <td class="headerFooter font-weight-normal">{% if row >= 10 %}{{ index }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="headerFooter font-weight-normal"></td>
                            {% for footer, footer_col in zip_footer_2 %}
                                {% if footer_col %}
                                <th class="headerFooter font-weight-normal js-invcol-update-button" data-url="{% url 'wms:invcol_update' footer_col %}">{{ footer }}</th>
                                {% else %}
                                <th class="headerFooter font-weight-normal">{{ footer }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="headerFooter font-weight-bold"></td>
                            {% for footer in footer_1 %}
                            <td class="headerFooter font-weight-bold" colspan="4">{{ footer }}</td>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
                <br>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-id" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
    var str_submit = "{% trans 'Submit' %}"
    var str_cancel = "{% trans 'Close' %}"
    var str_custom_range = "{% trans 'Custom Range' %}"
    var custom_range = {
        '{% trans 'Today' %}': [moment().subtract(1, 'days'), moment()],
        '{% trans 'Yesterday' %}': [moment().subtract(2, 'days'), moment().subtract(1, 'days')],
        '{% trans 'Last 7 Days' %}': [moment().subtract(7, 'days'), moment()],
        '{% trans 'Last 30 Days' %}': [moment().subtract(30, 'days'), moment()],
        '{% trans 'This Month' %}': [moment().startOf('month'), moment().endOf('month')],
        '{% trans 'Last Month' %}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    }
</script>

<script type="text/javascript" src="{% static 'daterangepicker/js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wms/js/layout_age.js' %}"></script>

{% endblock %}
