{% load i18n widget_tweaks %}

<form method="post" action="{% url 'wms:agvtransfer_update' form.instance.pk %}" class="js-agvtransfer-update" novalidate>
    {% csrf_token %}

    <div class="modal-header">
        <h1 class="modal-title">{% trans 'Edit AGV Transfer' %} {{ form.instance.pk }}</h1>
    </div>

    <div class="modal-body">
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }} :</label>
            {% if form.is_bound %}
            {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field field class="form-control is-valid" %}
            {% endif %}
            {% else %}
            {% render_field field class="form-control" %}
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <input type="button" value="{% trans 'Close' %}" class="btn btn-default" onclick="window.close()">
        <a href="{% url 'wms:agv_to_home' form.instance.pk %}" role="button" class="btn btn-secondary {% if queue_db %}disabled{% endif %}" onclick="return confirm('{% trans 'Back to home. Are you sure?' %}')">{% trans 'Go Home' %}</a>
        <input type="submit" value="{% trans 'Update' %}" class="btn btn-primary">
    </div>

</form>